.forgot-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #f8eba4, #f0e297);
    font-family: Arial, sans-serif;
}

.forgot-box {
    background: white;
    padding: 40px;
    width: 320px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.forgot-box h2 {
    color: #665020;
    margin-bottom: 10px;
}

.forgot-box p {
    color: gray;
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #e9e0ae;
    border: none;
    color: #665020;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #dfd49a;
}

.back-login {
    margin-top: 15px;
}

.back-login span {
    color: #665020;
    cursor: pointer;
    font-weight: bold;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}